@import "../../media-query";

.skills {
	background-color: #111;
	padding: 1rem;
	display: flex;
	justify-content: center;

	.centent {
		width: 90%;
		display: flex;
		justify-content: center;
		margin-top: 3rem;
		flex-direction: column;

		.top {
			display: flex;
			align-items: center;
			justify-content: center;

			.headerText {
				background-color: #FFF;
				width: 20rem;
				color: #111;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0.5rem;
				border-radius: 15px;

				span {
					font-size: 20px;
					font-weight: bold;
				}

				img {
					width: 3rem;
				}
			}

		}

		.skillscentent {
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;

			ul {
				display: flex;

				li {
					padding: 0.4rem;
				}
			}
		}

		.skillsElement {

			.items {
				display: flex;
				flex-direction: column;
				gap: 20px;
				.item {
					display: flex;
					flex-direction: column;
					gap: 15px;
					background-color: #fff;
					padding: 1rem;
					border-radius: 10px;
					cursor: pointer;
					color: #111;

					&:hover {
						background-color: darkblue;
						color: #FFF;
					}
					.item-top {
						display: flex;
						align-items: center;
						justify-content: space-between;

						img {
							background-color: #FFF;
							width: 4rem;
							height: 4rem;
							border-radius: 50%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}


}
